name: Moodle Plugin CI

on:
  push:
    branches:
      - ci

env:
  FILTER_SHORTCODES_TAG: 'v1.1.2'

jobs:
  test:
    runs-on: ubuntu-22.04

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: 'postgres'
          POSTGRES_HOST_AUTH_METHOD: 'trust'
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 3

      mariadb:
        image: mariadb:10
        env:
          MYSQL_USER: 'root'
          MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
          MYSQL_CHARACTER_SET_SERVER: 'utf8mb4'
          MYSQL_COLLATION_SERVER: 'utf8mb4_unicode_ci'
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 3

    strategy:
      fail-fast: false
      matrix:
        php: ['8.2', '8.3', '8.4']
        moodle-branch: ['MOODLE_405_STABLE', 'MOODLE_500_STABLE', 'MOODLE_501_STABLE']
        database: [pgsql]
        include:
          # PHP 7.4, with Moodle 4.1.
          - moodle-branch: MOODLE_401_STABLE
            database: pgsql
            php: 7.4

          # PHP 8.1, with Moodle 4.1.
          - moodle-branch: MOODLE_401_STABLE
            database: pgsql
            php: 8.1

          # PHP 8.1, with Moodle 4.5.
          - moodle-branch: MOODLE_405_STABLE
            database: pgsql
            php: 8.1

          # MariaDB, test oldest and most recent configurations.
          - moodle-branch: MOODLE_401_STABLE
            database: mariadb
            php: 7.4
          - moodle-branch: MOODLE_501_STABLE
            database: mariadb
            php: 8.4

        exclude:
          - moodle-branch: MOODLE_405_STABLE
            php: 8.4

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          path: plugin

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ matrix.extensions }}
          ini-values: max_input_vars=5000
          # If you are not using code coverage, keep "none". Otherwise, use "pcov" (Moodle 3.10 and up) or "xdebug".
          # If you try to use code coverage with "none", it will fallback to phpdbg (which has known problems).
          coverage: none

      - name: Initialise moodle-plugin-ci
        run: |
          composer create-project -n --no-dev --prefer-dist moodlehq/moodle-plugin-ci ci ^4
          echo $(cd ci/bin; pwd) >> $GITHUB_PATH
          echo $(cd ci/vendor/bin; pwd) >> $GITHUB_PATH
          sudo locale-gen en_AU.UTF-8
          echo "NVM_DIR=$HOME/.nvm" >> $GITHUB_ENV

      - name: Add plugin filter_shortcodes ${{ env.FILTER_SHORTCODES_TAG }}
        run: moodle-plugin-ci add-plugin --branch ${{ env.FILTER_SHORTCODES_TAG }} branchup/moodle-filter_shortcodes

      - name: Install moodle-plugin-ci
        run: moodle-plugin-ci install --plugin ./plugin --db-host=127.0.0.1
        env:
          DB: ${{ matrix.database }}
          MOODLE_BRANCH: ${{ matrix.moodle-branch }}
          IGNORE_PATHS: 'vendor/,node_modules/,templates/level-badge.mustache'

      - name: PHP Lint
        if: ${{ !cancelled() }}
        run: moodle-plugin-ci phplint

      # - name: PHP Copy/Paste Detector
      #   continue-on-error: true # This step will show errors but will not fail
      #   if: ${{ !cancelled() }}
      #   run: moodle-plugin-ci phpcpd

      # - name: PHP Mess Detector
      #   continue-on-error: true # This step will show errors but will not fail
      #   if: ${{ !cancelled() }}
      #   run: moodle-plugin-ci phpmd

      - name: Moodle Code Checker
        if: ${{ !cancelled() }}
        run: |
          WWWROOT=$(cd moodle; pwd)
          if [ -d "$WWWROOT/public" ]; then
            WWWROOT="$WWWROOT/public"
          fi
          moodle-plugin-ci phpcs --max-warnings 0 --standard $WWWROOT/blocks/xp/phpcs.xml

      # - name: Moodle PHPDoc Checker
      #   if: ${{ !cancelled() }}
      #   run: moodle-plugin-ci phpdoc --max-warnings 0

      - name: Validating
        if: ${{ !cancelled() }}
        run: moodle-plugin-ci validate

      - name: Check upgrade savepoints
        if: ${{ !cancelled() }}
        run: moodle-plugin-ci savepoints

      - name: Mustache Lint
        if: ${{ !cancelled() }}
        run: moodle-plugin-ci mustache

      - name: Grunt
        if: ${{ !cancelled() }}
        run: moodle-plugin-ci grunt --max-lint-warnings 0

      - name: PHPUnit tests
        if: ${{ !cancelled() }}
        run: moodle-plugin-ci phpunit --fail-on-warning

      - name: Behat features
        id: behat
        if: ${{ !cancelled() }}
        run: moodle-plugin-ci behat --profile chrome --auto-rerun 0

      - name: Mark cancelled jobs as failed.
        if: ${{ cancelled() }}
        run: exit 1
